<div class="navBar">
  <mat-toolbar >
    <button mat-icon-button class="example-icon">
      <mat-icon>fitbit</mat-icon>
    </button>
    <span class="company-name">TODO Application</span>
    <span class="spacer"></span>
    <div class="menu-items">
      <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
      <a mat-button routerLink="/add-work" routerLinkActive="active">Add works</a>
      <a mat-button routerLink="/works" routerLinkActive="active">Works</a>
      <a mat-button routerLink="/delete" routerLinkActive="active">Delete</a>
    </div>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>