<div class="container">
    <div class="image-column">
        <img src='assets/img/banner.jpg'/>
    </div>
    <div class="content-column">
        <p>A "To-Do" or "TODO" is a list of tasks, actions, or activities that individuals or teams need to accomplish. It serves as an organized and prioritized inventory of items that require attention, ensuring that nothing important is overlooked or forgotten. To-Do lists are commonly used for personal time management, project planning, and task tracking in various domains. </p>
    </div>
</div>